<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.red_folder.phonegap.plugin.availabilitymonitor"
        version="0.0.1">

    <name>Availability Monitor Plugin</name>

    <description>
        Plugin which provides availability monitoring of resource (such as a website) via a background service.  Results are stored to a DB and can be retrieve by your HTML/ JavaScript application at any point.
    </description>

    <license>Apache 2.0</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

	<!-- Load in the core background service -->
	<dependency id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/Red-Folder/bgs-core.git" commit="ac66bca970aa53bf6dc0de2b5b9f251f283c9a65"/>

    <!-- android -->
    <platform name="android">

		<asset src="www/availabilityMonitor.html" target="availabilityMonitor.html" />

		<js-module src="www/availabilityMonitor.js" name="availabilityMonitor">
			<clobbers target="cordova.plugins.availabilityMonitor" />
		</js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
  
            <service android:name="com.red_folder.phonegap.plugin.availabilitymonitor.service.MonitorService">
				<intent-filter>
					<action android:name="com.red_folder.phonegap.plugin.availabilitymonitor.service.MonitorService" />
				</intent-filter>
			</service>
            
        </config-file>
        
        <source-file src="src/android/" target-dir="src/" />
    </platform>
	
</plugin>